<div class="container">
    <div class="row responsive-sm" ng-repeat="chat in chatList track by $index">
        <div class="col">{{chat}}</div>
    </div>
    <div ng-if="repliedMessage">
        {{repliedMessage}}
    </div>
    <div ng-if="endResponse">
        {{endResponse.responses[0]}}
    </div>
    <div class="bar bar-footer">
        <div class="list">
            <div class="" ng-if="!hideOptions" ng-repeat="option in initialChat.options track by $index">
                <button ng-click="updateChat($index)">
                    {{option.label}}
                </button>
            </div>
            <div class="item item-input-inset" ng-if="updatedResult.component">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Enter your input" ng-model="form.input">
                </label>
                <button class="button button-small" ng-click="submitInput(form.input)">
                    Submit
                </button>
            </div>     
        </div>
    </div>
</div>